<h1 class="text-primary">{{header}}</h1>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="margin-top:100px;">
        <div class="border-container">

        <h2 class="text-center text-primary">Login Form</h2>
        <form action="" class=" p-4">

            <div class="m-2">
                <!--acno-->
                <input #acno class="form-control" type="text" [placeholder]="accPlaceholder" >
            </div>
            <div class="m-2">
                <!--password-->
                <input #pswd class="form-control" type="Password" placeholder="password">
            </div>
            <div class="m-2">
                <input (click)="login(acno,pswd)" class="btn btn-primary" type="button" value="LogIn" name="" id="loginbtn">
            </div>
            </form>
        
        
        </div>
        <div>
            <label for="">Not a user?Click here to<a href="">register</a></label>


        </div>
    </div>




</div>
